<body>
  <div class="container-page">
    <div class="container">
      
      <div class="container-superior gap-2 d-md-block text-end my-4">
        <h2 style="float: left;">Catálogo</h2>
          <mat-form-field appearance="outline">
            <mat-label>Search</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon aria-hidden="false" fontIcon="search"></mat-icon>
          </mat-form-field>
        <button class="btn btn-primary mx-3" type="button" routerLink="/add">Adicionar</button>
      </div>

      <div class="row row-cols-1 row-cols-md-5">
        <div class="col" *ngFor="let book of books; index as i">
          <div class="card">
            <img [src]="book.cover" class="card-img"/>
            <div class="card-body">
              <p class="card-title">{{book.title}}</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>  
</body>
