 <fieldset class="reviewRating">
        <input type="radio" id="dstar5" name="reviewRating" value="5"  (change)="onRatingSelected(5)"/><label class = "full" for="dstar5" title="Awesome - 5 estrelas"></label>
        <input type="radio" id="dstar4.5" name="reviewRating" value="4.5"  (change)="onRatingSelected(4.5)"/><label class="half" for="dstar4half" title="Pretty good - 4.5 estrelas"></label>
        <input type="radio" id="dstar4" name="reviewRating" value="4"  (change)="onRatingSelected(4)"/><label class = "full" for="dstar4" title="Pretty good - 4 estrelas"></label>
        <input type="radio" id="dstar3half" name="reviewRating" value="3.5"  (change)="onRatingSelected(3.5)"/><label class="half" for="dstar3half" title="Meh - 3.5 estrelas"></label>
        <input type="radio" id="dstar3" name="reviewRating" value="3"  (change)="onRatingSelected(3)"/><label class = "full" for="dstar3" title="Meh - 3 estrelas"></label>
        <input type="radio" id="dstar2half" name="reviewRating" value="2.5"  (change)="onRatingSelected(2.5)"/><label class="half" for="dstar2half" title="Kinda bad - 2.5 estrelas"></label>
        <input type="radio" id="dstar2" name="reviewRating" value="2"  (change)="onRatingSelected(2)"/><label class = "full" for="dstar2" title="Kinda bad - 2 estrelas"></label>
        <input type="radio" id="dstar1half" name="reviewRating" value="1.5"  (change)="onRatingSelected(1.5)"/><label class="half" for="dstar1half" title="Meh - 1.5 estrelas"></label>
        <input type="radio" id="dstar1" name="reviewRating" value="1"  (change)="onRatingSelected(1)"/><label class = "full" for="dstar1" title="Sucks big time - 1 dstar"></label>
        <input type="radio" id="dstarhalf" name="reviewRating" value="0.5"  (change)="onRatingSelected(0.5)"/><label class="half" for="dstarhalf" title="Sucks big time - 0.5 estrelas"></label>
</fieldset>