h1, h2, h3, h4, p, button, span, svg, label, input {
  font-family: 'Overpass', sans-serif;
  font-weight: 700;
  color: #1e1e1e;
}

.registerText {
  color: #d98a24;
}

.underline-hover {
  text-decoration: none;
  transition: text-decoration 0.2s;

  &:hover {
      text-decoration: underline;
      cursor: pointer;
  }
}

.form-control {
  background-color: transparent;
}