body {
  min-height: calc(100vh - 89.14px);
  background: linear-gradient(180deg, #1e1e1e 00%, #2b2b2b 60%);
  display: flex;
  align-items: center;
  justify-content: center;  
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

h1, h2, h3, h4, p, button, span, svg, label, input {
  font-family: 'Overpass', sans-serif;
  font-weight: 700;
}