body {
  min-height: calc(100vh - 89.14px);
  background: linear-gradient(180deg, rgba(30,30,30,1) 60%, rgb(44, 24, 0) 100%);
}

.container-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mat-form-field {
    color: #d9d9d9;
    margin-right: 3%;
}

h1, h2, h3, h4, p, button, span, svg, label, input {
  font-family: 'Overpass', sans-serif;
  font-weight: 700;
}

h2 {
    font-family: 'Overpass', sans-serif;
    font-weight: 800;
    color: #d9d9d9;
    margin: auto
}

.btn {
    font-family: 'Overpass', sans-serif;
    font-weight: 500;
    color: #1e1e1e;
    max-width: fit-content;
}

.card {
    background-color:#262626;
    border: transparent;
    color: #d9d9d9;
    font-family: 'Overpass', sans-serif;
    max-width: 220px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card:hover {
  cursor: pointer; /* Change cursor to a pointer on hover */
}

.card-img {
    border-radius: 1%;
    width: 200px;
    height: 280px;
    margin: 10px;
}

.card-body {
    padding: 0;
}

.card-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 200px;
  font-weight: 700;
  padding-left: 1px;
  margin: 0px;
}

.card-body:hover .card-text{
  text-decoration: underline;/* Change cursor to a pointer on hover */
}

.card-body:hover .card-subtext{
  text-decoration: underline;/* Change cursor to a pointer on hover */
}

.card-subtext {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 200px;
  font-weight: 300;
  padding-left: 1px;
  margin: 0px;
}

.mat-form-field-appearance-outline {
    min-width: 200px;
    max-width: 250px;
    height: 100px;
    font-family: 'Overpass', sans-serif;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
color: #d9d9d9;
}

.mat-input-element {
    height: 36px;
}

//butao


.float{
  position:fixed;
  width:60px;
  height:60px;
  bottom:45px;   //fixa o botão à 40px do fim da página
  right:15px;    //fixa o botão a 10px da borda direita da página
  background-color:#d98a24;
  color:#FFF;
  border: 1px dotted rgba(130, 130, 130, 0.3);
  border-radius:50px;
  text-align:center;
  z-index:1000; //posiciona o botão acima dos demais componentes da página
  animation: bot-to-top 2s ease-out; //animação executada quando a página é carregada
}


.fab-btn {
  clear:both;
}


.label-container{
  position:relative;
  bottom:33px;
  right:60px;
  display:table;
  visibility: hidden;
  float:right;
}


.label-text{
  color:#FFF;
  background:rgba(51,51,51,0.5);
  display:table-cell;
  vertical-align:middle;
  padding:5px;
  border-radius:15px;
}


.fab-tooltip{ //posicionamento do tooltip que aparece ao passar o mouse sobre o botão
  position:relative;
  bottom:30px;
  right:70px;
  display:table;
  visibility: hidden;
  float:right;
}


ul{
  position:fixed;
  right:10px;
  padding-bottom:20px;
  bottom:80px;
  z-index:100;
}


ul li{
  list-style:none;
  margin-bottom:10px;
}


ul li button{
  background-color:#d98a24;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  border: 1px solid rgba(130, 130, 130, 0.3);
  width:60px;
  height:60px;
  display:block;
}

.btn-icon{
  font-size:24px;
  margin-top:18px;
}

button#menu-share + ul{ //esconde a lista de opções
  visibility: hidden;
}


button#menu-share:hover + ul{ //mostra a lista de opções
  visibility: visible;
  animation: scale-in 0.5s;
}


ul:hover{ //mantem os botões de opções visíveis
  visibility:visible!important;
  opacity:1!important;
}


button#menu-share i{
  animation: rotate-in 0.5s;
}


button#menu-share:hover > i{
  animation: rotate-out 0.5s;
}


button.fab-btn>div.label-container { //esconde o tooltip
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}


button.fab-btn:hover>div.label-container{ // mostra o tooltip
  visibility: visible;
  opacity: 1;
}

//animações aplicadas aos botões

@keyframes bot-to-top {
    0%   {bottom:-40px}
    50%  {bottom:40px}
}


@keyframes scale-in {
    from {transform: scale(0);opacity: 0;}
    to {transform: scale(1);opacity: 1;}
}


@keyframes rotate-in {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}


@keyframes rotate-out {
    from {transform: rotate(360deg);}
    to {transform: rotate(0deg);}
}

.mat-icon {
    vertical-align: middle;
}

.book-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.paginator {
  background-color: transparent;
  color:#d98a24;
  max-height: 64px;
}