@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

label { margin: 0; padding: 0; }
h1 { font-size: 1.5em; margin: 10px; }

fieldset {
  display: inline-block; /* Display the fieldset inline with spans */
  vertical-align: top; /* Align the top edges of the fieldset and spans */
}

/****** Style Star Rating Widget *****/


.rating > [id^="star"] { 
  display: none; 
} 

.rating > label:before { 
  margin-left: 5px;
  font-size: 1em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
  float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > [id^="star"]:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > [id^="star"]:checked + label:hover, /* hover current star when changing rating */
.rating > [id^="star"]:checked ~ label:hover,
.rating > label:hover ~ [id^="star"]:checked ~ label, /* lighten current selection */
.rating > [id^="star"]:checked ~ label:hover ~ label { color: #FFED85;  }