.min-vh-100 { //preenche toda a página
  background-color: #1e1e1e;
  min-height: 100%;
}

.navbar-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #262626;
  font-family: 'Overpass', sans-serif;
  font-weight: 700;
}

.gambiarra {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  visibility: hidden;
}

.logo {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  max-width: 250px;
  gap: 10px;
}

.menu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.button-menu {
  background-color: transparent;
  color: #d98a24;
}

body { //influencia TODAS as páginas que herdam da main, NÃO REMOVER
  background-color: #1e1e1e;
}

.navbar-footer {
  display: flex;
  justify-content: center;
  background-color: #262626;
  font-family: 'Overpass', sans-serif;
  gap: 1%;
}

span,svg {
  color: #d9d9d9;
  font-weight: 700;
}