
.navbar-header {
  background-color: #262626;
  font-family: 'Overpass', sans-serif;
  font-weight: 700;
  align-items: center;
}

body { //influencia TODAS as páginas que herdam da main, NÃO REMOVER
  background-color: #1e1e1e;
}

.logo {
  display: inline-block;
  margin-left: 43%;
}

.navbar-footer {
  background-color: #262626;
}

.separador {
  height: 1rem;
}

a,span,svg {
  color: #d9d9d9;
  font-weight: 700;
}

.container-info {
  position: absolute;
  float: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.min-vh-100 {
  background-color: #1e1e1e;
  min-height: 100%;
}

.button-logout {
  background-color: #d98a24;
  margin-right: 1%;
}