.see-more {
    font-family: 'Overpass', sans-serif;
    font-weight: 800;
    color:#d98a24;
}

p {
    font-family: 'Overpass', sans-serif;
    font-weight: 800;
    color: #d9d9d9;
    transition: max-height 0.3s ease;
}

.synopsis {
    display: flex;
}