body {
    min-height: calc(100vh - 89.14px);
    background: linear-gradient(180deg, rgba(30,30,30,1) 60%, rgb(44, 24, 0) 100%);
}

.bookCover {
    overflow: hidden; 
    display: block;
    border-radius: 1%;
    width: 300px;
    height: 445px;
}

h1, h2, h4, p, button {
    font-family: 'Overpass', sans-serif;
    font-weight: 800;
    color: #d9d9d9;
}

button {
    color: #1e1e1e;
}

.see-more {
    font-family: 'Overpass', sans-serif;
    font-weight: 800;
    color:#d98a24;
}

.flex-container {
    display: flex;
}

.details {
    display: flex;
    gap: 5px;
}

.details-frame {
    text-align: center;
    width: 220px;
    padding: 10px; 
    color: #1e1e1e;
    background-color: #d98a24;
    border-radius: 1%;
}

.leftSection {
    max-width: 70%;
}

.dropdown-menu {
    width: 100%; 
    background-color:#d98a24;
}

.dropdown-menu :hover {
    background-color:#e29d42;
    color: #1e1e1e;
}

.rounded-circle, .username {
    cursor: pointer;
    color: #d98a24;
}

.username :hover {
    text-decoration: underline;
}

.mat-icon-button.mat-primary {
    color:#d98a24;
    background-color: transparent;
  }
  