<body>
  <div style="height: 30px;"></div>
  <div class="flex-container" style="margin: 0px 10%">
    <div class="rightSection" style="margin:0px 20px 20px 0px;">
      <a class="bookCover">
        <img [src]="book.cover" class="bookCover"/>
      </a>
      <div class="actions" style="clear: both; display: flex; padding: 10px 0px; width: 300px;">
        <div ngbDropdown class="dropdown-addToList" style="width: 100%;" *ngIf="!bookStatus">
          <button type="button" class="btn btn-primary w-100" id="dropdownBasic1" ngbDropdownToggle>
            Adicionar à lista
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu">
            <button ngbDropdownItem (click)="addToList('planning')">Quero ler</button>
            <button ngbDropdownItem (click)="addToList('reading')">Lendo</button>
            <button ngbDropdownItem (click)="addToList('done')">Finalizado</button>
          </div>
        </div>
        <div ngbDropdown class="dropdown-addToList" style="width: 100%;" *ngIf="bookStatus">
          <button type="button" class="btn btn-primary w-100" id="dropdownBasic1" ngbDropdownToggle>
            Alterar status
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu">
            <button ngbDropdownItem (click)="addToList('planning')">Planejado</button>
            <button ngbDropdownItem (click)="addToList('reading')">Lendo</button>
            <button ngbDropdownItem (click)="addToList('done')">Finalizado</button>
            <button ngbDropdownItem (click)="removeFromList()" style="color: rgb(161, 0, 0);">Remover da lista</button>
          </div>
        </div>
      </div>
    </div>

    <div class="leftSection">
      <div style="height: 220px;"></div>

      <h2>{{book.title}}</h2>
      <h4>{{book.author}}</h4>

      <div style="height: 20px;"></div>

      <div class="details">
        <p class="details-frame">{{book.genre}}</p>
        <p class="details-frame">{{book.publisher}}</p>
        <p class="details-frame">{{book.pages}} páginas</p>
        <p class="details-frame">{{book.year}}</p>
        <p class="details-frame">4.9/5.0 ⭐</p>
      </div>

      <div style="height: 20px;"></div>

      <h4>Sinopse</h4>

      <app-expandable-paragraph class="synopsis" [text]="book.synopsis"></app-expandable-paragraph>

      <div class="reviews" *ngIf="reviews">
        <h4>Resenhas</h4>
        <div *ngFor="let review of reviews"></div>
      </div>
    </div>
  </div>
</body>
