<body>
  <div style="height: 30px;"></div>
  <div class="flex-container" style="margin: 0px 10%">
    <div class="rightSection" style="margin:0px 20px 20px 0px;">
      <a class="bookCover">
        <img [src]="book.cover" class="bookCover"/>
      </a>
      <div class="actions py-3" style="clear: both; display: flex; width: 300px;">
        <div ngbDropdown class="dropdown-addToList" style="width: 100%;" *ngIf="!bookStatus">
          <button type="button" class="btn btn-primary w-100" id="dropdownBasic1" ngbDropdownToggle>
            Adicionar à lista
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu">
            <button ngbDropdownItem (click)="addToList('planning')">Quero ler</button>
            <button ngbDropdownItem (click)="addToList('reading')">Lendo</button>
            <button ngbDropdownItem (click)="addToList('done')">Finalizado</button>
          </div>
        </div>
        <div ngbDropdown class="dropdown-addToList" style="width: 100%;" *ngIf="bookStatus">
          <button type="button" class="btn btn-primary w-100" id="dropdownBasic1" ngbDropdownToggle>
            Alterar status
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu">
            <button ngbDropdownItem (click)="addToList('planning')">Planejado</button>
            <button ngbDropdownItem (click)="addToList('reading')">Lendo</button>
            <button ngbDropdownItem (click)="addToList('done')">Finalizado</button>
            <button ngbDropdownItem (click)="removeFromList()" style="color: rgb(161, 0, 0);">Remover da lista</button>
          </div>
        </div>
      </div>

      <p>Querem ler <span class="readingData">{{book.interactionData.planning}}</span></p>
      <p>Lendo <span class="readingData">{{book.interactionData.reading}}</span></p>
      <p>Já leram <span class="readingData">{{book.interactionData.done}}</span></p>
    </div>

    <div class="leftSection">
      <div style="height: 220px;"></div>

      <h2>{{book.title}}</h2>
      <h4>{{book.author}}</h4>

      <div style="height: 20px;"></div>

      <div class="details">
        <p class="details-frame">{{book.genre}}</p>
        <p class="details-frame">{{book.publisher}}</p>
        <p class="details-frame">{{book.pages}} páginas</p>
        <p class="details-frame">{{book.year}}</p>
        <p class="details-frame" *ngIf="averageRating(reviews) !== 0">{{averageRating(reviews)}} ⭐</p>
        <p class="details-frame" *ngIf="averageRating(reviews) == 0">Sem avaliações</p>
      </div>

      <div style="height: 20px;"></div>

      <h4>Sinopse</h4>

      <expandable-paragraph class="synopsis" [text]="book.synopsis"></expandable-paragraph>

      <div class="col-md-12 col-lg-10 col-xl-8">
        <div class="card" style="background-color: transparent; border: none;">
            <h4 class="mb-2 pb-2">Resenhas</h4>

            <p class="noReviewMessage" *ngIf="!(reviews.length > 0)">Ainda não existem resenhas para esta obra. Seja o primeiro a opinar!</p>

            <div class="row pb-4" *ngFor="let review of reviews">
              <div class="col">
                <div class="d-flex flex-start">
                  <img class="rounded-circle shadow-1-strong me-3" src={{review.user.picture}} width="65" height="65" routerLink="/profile/{{review.user.username}}"/>
                  <div class="flex-grow-1 flex-shrink-1">
                    <div>
                      <div class="d-flex justify-content-between align-items-center">
                        <p class="">
                          <span class="username">{{review.user.username}} ({{review.user.realName}})</span>
                          <span class="date small"> - {{review.date | date:'dd/MM/yyyy HH:mm'}}</span>
                          <star-rating-static [name]="review._id" [initialRating]="review.rating"></star-rating-static>
                        </p>
                        <div class="d-flex justify-content-between align-items-right me-1">
                          <button mat-icon-button color="warn" class="mb-1" *ngIf="review.user.username == user.username" (click)="deleteReview()">
                            <mat-icon>delete_outline</mat-icon>
                          </button>
                          <button mat-icon-button color="primary" class="mb-1" (click)="likeReview(review)">
                            <mat-icon *ngIf="!review.likes.includes(user.username)">favorite_border</mat-icon>
                            <mat-icon *ngIf="review.likes.includes(user.username)">favorite</mat-icon>
                            <span> {{review.likes.length}}</span>
                          </button>
                        </div>
                      </div>
                      <p class="small mb-0">
                        {{review.text}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card-footer px-0 py-0 border-0" style="background-color: transparent;">
              <h5>Publicar resenha</h5>
              <div class="d-flex flex-start">
                <img class="rounded-circle shadow-1-strong me-3"
                  src="{{user.picture}}" alt="avatar" width="40"
                  height="40" />
                <div class="form-outline w-100 form-resenha">
                  <textarea class="form-control" id="textAreaExample" [(ngModel)]="reviewText" rows="4" placeholder="Escreva sua resenha aqui" style="background: transparent; border-color: #d98a24;"></textarea>
                </div>
              </div>
              <div class="float-start star-rating-resenha my-3">
                <star-rating-dynamic (ratingSelected)="onRatingSelected($event)"></star-rating-dynamic>
              </div>
              <div class="float-end menu-resenha mt-2 pt-1">
                <button type="button mr-2" class="btn btn-primary btn-sm me-1" (click)="addReview()">Enviar resenha</button>
                <button type="button" class="btn btn-outline-primary btn-sm" style="color: #d9d9d9;">Cancelar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</body>
