body {
    min-height: calc(100vh - 89.14px);
    background: linear-gradient(180deg, #1e1e1e 30%, #2b2b2b 60%);
}

.bookCover {
    overflow: hidden; 
    display: block;
    border-radius: 1%;
    width: 300px;
    height: 445px;
}

h1, h2, h4, p, button {
    font-family: 'Overpass', sans-serif;
    font-weight: 800;
    color: #d9d9d9;
}

.see-more {
    font-family: 'Overpass', sans-serif;
    font-weight: 800;
    color:#d98a24;
}

.flex-container {
    display: flex;
}

.details {
    display: flex;
    gap: 5px;
}

.details-frame {
    text-align: center;
    width: 220px;
    padding: 10px; 
    color: #3b2609;
    background-color: #d98a24;
    border-radius: 1%;
}

.leftSection {
    max-width: 70%;
}