body {
    min-height: calc(100vh - 89.14px);
    background: linear-gradient(180deg, rgba(30,30,30,1) 60%, rgb(44, 24, 0) 100%);
}


.profilePicture {
    overflow: hidden; 
    display: block;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

h1, h2, h4, p, button {
    font-family: 'Overpass', sans-serif;
    font-weight: 800;
    color: #d9d9d9;
}

.see-more {
    font-family: 'Overpass', sans-serif;
    font-weight: 800;
    color:#d98a24;
}

.flex-container {
    display: flex;
}

.leftSection {
    max-width: 70%;
}

.books {
    display: flex;
    flex-basis: 100%;
    max-height: 400px;
    flex-wrap: wrap; 
    flex-direction: column;
    align-items: center;
}

.card {
    background-color:#262626;
    border: transparent;
    color: #d9d9d9;
    font-family: 'Overpass', sans-serif;
    width: 180px;
    height: 290px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-body:hover .card-text{
    text-decoration: underline;/* Change cursor to a pointer on hover */
}

.card-body:hover .card-subtext{
    text-decoration: underline;/* Change cursor to a pointer on hover */
}

.card img{
    border: none;
}

.card:hover {
  cursor: pointer;
}

.card-img {
    border-radius: 1%;
    width: 160px;
    height: 220px;
    margin: 10px;
    filter: blur(4px);
}

.card-body {
    padding: 0;
}

.card-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 200px;
    font-weight: 700;
    padding-left: 1px;
    margin: 0px;
  }

.card-subtext {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 200px;
    font-weight: 300;
    padding-left: 1px;
    margin: 0px;
}

.book-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    align-self: center;
}

.paginator {
    background-color: transparent;
    color:#d98a24;
    max-height: 64px;
}

.placeholder {
    background-color: transparent;
    box-shadow: none !important;
}

.image-container {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
}

.image-item {
    flex: 0 0 calc(25% - 10px); /* 33.33% to fit 3 items per row, minus margin */
    margin: 5px; /* Add margin to separate images */
    box-sizing: border-box;
}

.image-item img {
    width: 100%;
    height: auto;
    display: block;
}

.readingData {
    color: #d98a24 !important
}