<body>
  <div style="height: 30px;"></div>
  <div class="flex-container" style="margin: 0px 10%">
    <div class="rightSection" style="margin:0px 20px 20px 0px;">
      <a class="profilePicture mb-2">
        <img [src]="user.picture" class="profilePicture"/>
      </a>
      <div class="actions mb-2" style="clear: both; display: flex; padding: 10px 0px; width: 300px;" *ngIf="this.loggedUsername != user.username">
        <button class="btn btn-primary" type="button" (click)="follow()" style="width: 100%; text-align: center; padding: 10px;" *ngIf="!followed">
          Seguir usuário
        </button>
        <button class="btn btn-primary" type="button" (click)="unfollow()" style="width: 100%; text-align: center; padding: 10px;" *ngIf="followed">
          Deixar de seguir
        </button>
      </div>

      <h4>Leituras</h4>
      <div>
        <p>Lendo <span class="readingData">{{listCount[0]}}</span></p>
        <p>Quer ler <span class="readingData">{{listCount[1]}}</span></p>
        <p>Já leu <span class="readingData">{{listCount[2]}}</span></p>
      </div>
      
      <h4 *ngIf="badges.length > 0">Conquistas</h4>
      <div class="image-container">
        <div class="image-item" *ngFor="let badge of badges">
            <img [src]="badge.image" alt="{{badge.name}}" title="{{badge.name}}">
        </div>
      </div>
    </div>

    <div class="leftSection">
      <div style="height: 220px;"></div>

      <h2>{{user.username}}</h2>
      <h4>{{user.realName}}</h4>

      <div class="mt-4" *ngIf="user.bio">
        <h4>Bio</h4>
        <expandable-paragraph class="synopsis" [text]="user.bio"></expandable-paragraph>
      </div>

      <div *ngIf="reading.length > 0">
        <h4>Lendo</h4>
        <div class="book-row" *ngIf="reading.length > 0">
          <button mat-button class="paginator" (click)="loadReadingPage(-1)" [disabled]="currentReadingPage == 1" [ngStyle]="{'color': currentReadingPage == 1 ? 'grey' : '#d98a24'}">
            <mat-icon>chevron_left</mat-icon>
          </button>
    
          <div class="carousel">
              <div class="book-column mb-4" *ngFor="let book of reading">
                <div class="card mx-auto" [@fadeInOut]> 
                  <img [src]="book.cover" class="card-img" [routerLink]="['/book', book._id]"/>
                  <div class="card-body px-2 pb-2">
                    <p class="card-text">{{book.title}}</p>
                    <p class="card-subtext" [routerLink]="['/author', adjustTextToURL(book.author)]">{{book.author}}</p>
                  </div>
                </div>
              </div>
  
              <div class="book-column mb-4" *ngFor="let _ of placeholderReadingCards">
                <div class="card placeholder mx-auto" >
                  <div class="card-body px-2 pb-2">
                    <p class="card-text"></p>
                  </div>
                </div>
              </div>
          </div>
          
          <button mat-button class="paginator" (click)="loadReadingPage(1)" [disabled]="placeholderReadingCards.length > 0" [ngStyle]="{'color': placeholderReadingCards.length > 0 ? 'grey' : '#d98a24'}">
            <mat-icon>chevron_right</mat-icon>
          </button>
        </div>
      </div>

      <div *ngIf="planning.length > 0">
        <h4>Quero ler</h4>
        <div class="book-row" *ngIf="planning.length > 0">
          <button mat-button class="paginator" (click)="loadPlanningPage(-1)" [disabled]="currentPlanningPage == 1" [ngStyle]="{'color': currentPlanningPage == 1 ? 'grey' : '#d98a24'}">
            <mat-icon>chevron_left</mat-icon>
          </button>
    
          <div class="carousel">
              <div class="book-column mb-4" *ngFor="let book of planning">
                <div class="card mx-auto" [@fadeInOut]> 
                  <img [src]="book.cover" class="card-img" [routerLink]="['/book', book._id]"/>
                  <div class="card-body px-2 pb-2">
                    <p class="card-text">{{book.title}}</p>
                    <p class="card-subtext" [routerLink]="['/author', adjustTextToURL(book.author)]">{{book.author}}</p>
                  </div>
                </div>
              </div>
  
              <div class="book-column mb-4" *ngFor="let _ of placeholderPlanningCards">
                <div class="card placeholder mx-auto" >
                  <div class="card-body px-2 pb-2">
                    <p class="card-text"></p>
                  </div>
                </div>
              </div>
          </div>
          
          <button mat-button class="paginator" (click)="loadReadingPage(1)" [disabled]="placeholderPlanningCards.length > 0" [ngStyle]="{'color': placeholderPlanningCards.length > 0 ? 'grey' : '#d98a24'}">
            <mat-icon>chevron_right</mat-icon>
          </button>
        </div>
      </div>

      <div *ngIf="read.length > 0">
        <h4>Finalizado</h4>
        <div class="book-row" *ngIf="read.length > 0">
          <button mat-button class="paginator" (click)="loadReadPage(-1)" [disabled]="currentReadPage == 1" [ngStyle]="{'color': currentReadPage == 1 ? 'grey' : '#d98a24'}">
            <mat-icon>chevron_left</mat-icon>
          </button>
    
          <div class="carousel">
              <div class="book-column mb-4" *ngFor="let book of read">
                <div class="card mx-auto" [@fadeInOut]> 
                  <img [src]="book.cover" class="card-img" [routerLink]="['/book', book._id]"/>
                  <div class="card-body px-2 pb-2">
                    <p class="card-text">{{book.title}}</p>
                    <p class="card-subtext" [routerLink]="['/author', adjustTextToURL(book.author)]">{{book.author}}</p>
                  </div>
                </div>
              </div>
  
              <div class="book-column mb-4" *ngFor="let _ of placeholderReadCards">
                <div class="card placeholder mx-auto" >
                  <div class="card-body px-2 pb-2">
                    <p class="card-text"></p>
                  </div>
                </div>
              </div>
          </div>
          
          <button mat-button class="paginator" (click)="loadReadPage(1)" [disabled]="placeholderReadCards.length > 0" [ngStyle]="{'color': placeholderReadCards.length > 0 ? 'grey' : '#d98a24'}">
            <mat-icon>chevron_right</mat-icon>
          </button>
        </div>
      </div>

    </div>
  </div>
</body>