name: Fly Deploy

on:
  push:
    branches:
      - master 

env:
  FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}

jobs:
  deploy-front:
    name: Deploy booklist-front
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: superfly/flyctl-actions/setup-flyctl@master

      - run: flyctl deploy ./client --remote-only

  deploy-back:
    name: Deploy booklist-back
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
  
      - uses: superfly/flyctl-actions/setup-flyctl@master
  
      - run: flyctl deploy ./server --config ./BookList/fly.toml --remote-only
